body{
    background-color: rgb(200, 222, 244);
  
  }
  *{
      padding:0;
      margin:0;
  }
  
  nav ul{
      height:9vh;
      
      align-items: center;
      display:flex;
      background-color:rgb(0, 0, 0);
      color:#b5c7f8;
      list-style-type: none;
      font-size: 120%;
      cursor:pointer;
      
  }
  
  
  .navv{
      padding:0 20px;
  }
  
  .brand img{
      height:50px;
     
      align-items:center;
  
     
  }
  .brand{
      display: flex;
      align-items: center;
      font-size:150%;
  }
  
  .music{
      font-size: 230%;
      display: flex;
      justify-content: center;
      color:#b5c7f8;
      
  }

  .playing{
    height:4vh;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .fa{
      display:flex;
      justify-content: center;
      align-items: center;
      padding-left:20px;
      padding-right:20px;
      padding-top:20px;
      cursor:pointer;
      color:#b5c7f8;
      
      
  }
  .myprog{
    display:flex;
    justify-content:center;
    align-items: center;
  }
  
  .b{
      padding-left: 40px;
  }
  
  /* .your{
      /* position:sticky; */
      /* display:flex;
      
      align-items: center;
      flex-direction: column;
      background-color: rgba(221, 231, 243, 0.419);
    color:black; */
    
      
  /* } */ */
  
  .progress{
      position: sticky;
      display:flex;
      padding:10px 30px;
      align-items: center;
      
     
      height:10px;
      
  }
  
  #progress
  {
      width:50vw;
      height:3px;
      cursor: pointer;
  }
  
  .a{
      display:flex;
      justify-content: center;
  }
  .master{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container{
      height:120px;
      flex-direction: column;
      background-color:rgb(127, 133, 140);
      display: flex;
      align-items: center;
      margin-top:50px;
      margin-left:20%;
      margin-right:20%;
      border-radius:12px;
      padding: 5px;
      background-image: url(gif.gif);
      
      
  }

  .quote{
      display: flex;
      height:200px;
    background-color: rgb(0, 0, 0);
    color:#b5c7f8;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
  
  .for{
    font-size: 100%;
    display: flex;
    justify-content: center;
    color:#b5c7f8;
    font-size: 30px;
    
    padding-left: 20%;
    padding-right: 20%;
    
  }
  .album{
      display:flex;
      height:90vh;
      background-color: rgb(109, 93, 93);
      /* justify-content: center; */
      color:rgb(181, 199, 248);
      
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
      border-radius: 12px;
      margin-top: 50px;
      background-image: url(gif.gif);
  }
  .songlist{
      padding-left: 50px;
      padding-bottom: 50px;
      padding-top: 1%;
  }
  
  .time{
    display: flex;
    justify-content: space-between;
    
  }
  .songitem{
      display: flex;
      height:25px;
      width:30vw;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom:10px;
      /* padding-left:10px ; */
      background-color: rgb(173, 173, 234);
      color:black;
      border-radius: 50px;
      justify-content: space-between;
      align-items: center;
  }
  
  .songitem img{
      width:35px;
      border-radius:10px;
      margin-left: 20px;
      margin-right:20px;
  }
  
  #seventh{
      width:2%;
  }
  
  .time i{
      
      /* margin-top:5px; */
      cursor: pointer;
          margin-left: 20px;
          margin-right:20px; 
     
  }
  
  .c{
      width:50vw;
      padding-left: 80px;
      font-size: 150%;
  }
  
  
  
  
  